* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 280px;
  max-height: 450px;
  margin: 40px;
}

.upper-bar {
 background-color: rgb(6, 34, 34);
 width: 100%;
 height: auto;
}
.upper-bar a{
  color: aliceblue;
  text-decoration: none; 
  font-size: 30px;
  padding: 5% 13.33%;
 }
 .upper-bar a:hover {
   background:  rgb(3, 138, 228);
   color: rgb(39, 16, 16);
 }


.main-columns {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;

  .option-column {
    width: 10%;
    background-color: rgb(14, 73, 73);
    padding: 10px;
  }
  .news-column {
    width: 10%;
    background-color: rgb(131, 172, 56);
    padding: 10px;
  }
  .products-column {
    width: 55%;
    background-color: rgb(93, 149, 153);
    padding: 10px;
  }
  .merch-column {
    width: 25%;
    background-color: lightseagreen;
    padding: 10px;
  }
}
  
.columns-body{
 display: flex;
 flex-direction: row;
 text-align: center;
 height: 20%;
  
  .option-body{
  width: 10%;
  background-color: rgba(34, 134, 134, 0.733);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.news-body{
  width: 10%;
  background-color: rgb(204, 238, 142);
  padding: 10px;
}
.products-body{
  width: 55%;
  background-color: rgb(186, 222, 224);
  padding: 10px;
}
.merch-body{
  width: 25%;
  background-color: rgb(59, 241, 232);
  padding: 10px;
}

}

.lower-bar{
    display:flex;
    flex-direction:row;
    background-color: rgb(6, 34, 34);
    position: fixed;
    width: 100%;
    bottom: 0px;
 }
 .lower-bar a{
  text-align: center;
  color: aliceblue;
  font-size: 17px;
  padding: 10px 16px;
  text-decoration: none;
}
.lower-bar a:hover {
    background: rgb(3, 138, 228);
    color: rgb(39, 16, 16);
}
 
